.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bgc-hero-footer;
}

.footer__container{
    display: flex;
}

.footer__logo{
  display: block;
  margin-bottom: 20px;

  &--accent{
      color: $text-logo-footer;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms $cubic;

  color: $link-footer;

  &--street{
      color: $text-footer;
  }

  &:hover,
  &:focus{
      color: $accent;
  }
}

