.footer-soclist {
  margin-left: 70px;
  padding-top: 12px;
}

// SAME_CLASS

.footer-soclist__text,
.footer-subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $text-footer;
}

.footer-soclist__list {
  display: flex;
}

.footer-soclist__item:not(:last-child) {
  margin-right: 10px;
}

.footer-soclist__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms $cubic;

  background-color: $bgc-icon-footer;

  &:hover,
  &:focus{
      background-color: $accent;
  }
}