.specifics {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
  }

  &__item {
    width: 270px;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }


  &__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $text-second;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }

  &__svg {
    display: block;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: $bgc-icon-specifics;
  }
}







